#booking-history-view__form-container {
  padding: 0;
}

#booking-history-table-row {
  width: 20%;
}

#booking-history-table {
  width: 700px;
}

#booking-history-table thead th {
  padding: 12px 24px;
}

#booking-history-table-orderedDate {
  width: 30%;
}

#booking-history-table-roomName {
  width: 30%;
}

#booking-history-data {
  font-size: 15px;
}

#status--processing {
  color: #f59f00;
}

#view-detail-button {
  border: none;
  background: none;
  cursor: pointer;
}

#view-detail-button:hover {
  text-decoration: underline;
}
